@font-face {
    font-family: "firstfont";
    src: url(./Roslindale/Roslindale_Desktop/Roslindale-DisplayCondensedRegular-Testing.otf);
}
@font-face {
    font-family: "secondfont";
    src: url(./apercu-pro-cufonfonts/apercu_regular_pro.otf);
}
@font-face {
    font-family: "thirdfont";
    src: url(./Roslindale/Roslindale_Desktop/Roslindale-DisplayCondensedExtraLight-Testing.otf);
}
@font-face {
    font-family: "fourthfont";
    src: url(./apercu-pro-cufonfonts/apercu_medium_pro.otf);
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 100%;
}
.container2{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    z-index: 50;
    position: relative;
    align-items: flex-start;
}
.container2X{
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.box1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: "firstfont",serif;
    font-size: 1.125rem;
}
a:hover{
    color: blue;
}
.mainsite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.125rem;
}
.box{
    display: none;
}
.box2{
    margin: 20px;
    font-family: "secondfont",sans-serif;
    font-size: 0.8125rem;
}
.box3{
    margin: 20px;
    font-family: "secondfont",sans-serif;
    font-size: 0.8125rem;
}
.box4{
    margin: 20px;
    font-family: "secondfont",sans-serif;
    font-size: 0.8125rem;
}
.box5{
    margin: 20px;
    font-family: "secondfont",sans-serif;
    font-size: 0.8125rem;
}
.box6{
    margin: 20px;
    text-align: center;
    font-family: "secondfont",sans-serif;
    font-size: 0.8125rem;
}
.boxand1{
    padding: 0.33rem 0.93rem;
    background-color: #D2A070;
    color: white;
    cursor: pointer;
}
.boxand1:hover{
    background-color: aqua;
    color: black;
}
.fivion{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    font-size: 2.4375rem;
    font-family: "thirdfont",serif;
    font-weight: lighter;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.containerX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 2rem;
    z-index: 50;
    color: rgb(255, 255, 255);
}
.vision{
    display: flex;
    flex-direction: column;
    font-size: 0.625rem;
    font-family: "secondfont",sans-serif;
}
.fire{
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: flex;
}   
.para1{
    display:none;
}
.cover1{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.78rem;
    font-family: "firstfont",serif;
    align-items: center;
} 
.title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.para2{
    display: flex;
    margin-top: 0rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.paraX{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "secondfont",sans-serif;
    font-size: 0.8125rem;
}
.container4{
    display: flex;
    justify-content: space-between;
}
.paraY{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "secondfont",sans-serif;
    font-size: 0.8125rem;
}
.prawn{
    display: flex;
    margin-top: 2rem;
}
.sidenote{
    display: none;
}
.sidenote3{
    display: none;
}
.assex1{
    display: flex;
    flex-direction: column;
    font-size: 1.78125rem;
    font-family: "firstfont",serif;
    text-align: right;
}
.group1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.78125rem;
    font-family: "firstfont",serif;
}
.group2{
    display: flex;
    flex-direction: column;
    font-size: 0.93781rem;
    font-family: "secondfont",sans-serif;
}
.sidenote{
    display: none;
}
.soups{
    padding: 0 0 2rem 0;
}
.salmontextA{
    display: none;
}
.salmontext1{
    display: none;
}
.salmontext{
    display: none;
}
.assex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "firstfont",serif;
    font-size: 1.78125rem;
}
.assex3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "secondfont",sans-serif;
    font-size: 0.8125rem;
}
.fullmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.641rem;
    font-family: "firstfont",serif;
}
.fullmenu1{
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    font-family: "secondfont",sans-serif;
}
.menu{
    padding: 0 0 2rem 0;
}
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4375rem;
    font-family: "firstfont",serif;
    font-weight: 300;
    text-align: center;
}
.inside{
    display: none;
}
.gallery1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4375rem;
    font-family: 'firstfont',serif;
    text-align: center;
    margin-top: 0rem;
}
.gallery2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4375rem;
    font-family: "firstfont",serif;
    text-align: center;
    margin-top: 0rem;
}
.gallerysection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.xtraimg{
    padding: 0 0 2rem 0;
}
.xtraimg1{
    padding: 0 0 2rem 0;
}
.xtraimg2{
    padding: 0 0 2rem 0;
}
.xtraimg3{
    padding: 0 0 2rem 0;
}
.xtraimg4{
    padding: 0 0 2rem 0;
}
.xtraimg5{
    padding: 0 0 2rem 0;
}
.xtraimg6{
    padding: 0 0 2rem 0;
}
.xtraimg9{
    display: none;
    padding: 0 0 2rem 0;
}
.xtraimg7{
    padding: 0 0 2rem 0;
}
.xtraimg8{
    padding: 0 0 2rem 0;
}
.foodimg1{
    display: none;
}
.foodimg2{
    display: none;
}
.foodimg3{
    display: none;
}
.container8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.container8A{
    display: none;
}
.action{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-family: "firstfont",serif;
    font-weight: 300;
}
.direction1{
    display: none;
}
.acid1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    font-family: "firstfont",serif;
}
.acid2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    font-family: "firstfont",serif;
}
.acid3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    font-family: "firstfont",serif;
}
.foodlink{
    display: flex;
    justify-content: center;
    cursor: auto;
    align-self: center;
    align-items: center;
}
.action1{
    display: flex;
    padding: 0.75rem 3rem;
    background-color: #D2A070;
    color: white;
    cursor: pointer;
    margin: 0 0 2rem 0;
    font-family: "secondfont",sans-serif;
}
.action1:hover{
    background-color: white;
    color: blue;
}
.container9{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #151515;
}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}
.footer1A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.125rem;
    font-family: "firstfont",serif;
    color: white;
}
.footer1B{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.5625rem;
    font-family: "secondfont",sans-serif;
    color: #7C7C7C;
    text-align: center;
}
.footer2{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: flex-end;
    justify-content: space-evenly;
}
.footer2A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-family: "secondfont",sans-serif;
}
.footer2B{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-family: "secondfont",sans-serif;
}
.footer2C{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-family: "secondfont",sans-serif;
}
.footer2D{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-family: "secondfont",sans-serif;
}
.footer3{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-evenly;
}
.footer3A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7C7C7C;
    font-size: 0.75rem;
    font-family: "secondfont",sans-serif;
}
.footer3B{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7C7C7C;
    font-size: 0.75rem;
    font-family: "secondfont",sans-serif;
}
.footer3C{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7C7C7C;
    font-size: 0.75rem;
    font-family: "secondfont",sans-serif;
}
.footer3D{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #7C7C7C;
    font-size: 0.75rem;
    font-family: "secondfont",sans-serif;
}
.footer4{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: flex-end;
    justify-content: space-evenly;
}
.footer4A{
    display: flex;
    flex-direction: column;
    cursor: auto;
}
.footer4B{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    color: white;
    background-color: #D2A070;
    padding: 0.45rem 1.17rem 0.5rem 1.12rem;
}
.footer4B:hover{
    color: blue;
    background-color: white;
}
.footer4C{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7C7C7C;
    font-size: 0.5625rem;
    font-family: "secondfont",sans-serif;
    text-align: right;
}
.footerwrap{
    display: flex;
    flex-direction: column;
}
.footer5{
    display: flex;
    flex-direction: column;
    
}
@media (min-width:769px) {
    .box{
        display: flex;
        
    }
    .fivion{
        font-size: 9.0875rem;
        font-weight: 300;
        width: 100%;
        text-align: center;
        display: flex;
        margin-top: 0rem;
        margin-bottom: 0rem;
        flex-direction: column;
    }
    .vision{
        font-size: 0.93781rem;
    }
    .container2{
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .cover2{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        height: 50rem;
    }
    .title{
        font-size: 2.28125rem;
        margin-top: 0.7rem;
    }
    .container3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container4{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .seven{
        display: flex;
        width: 19.85813rem;
        height: 20.32813rem;
    }
    .seven2{
        display: flex;
        width:  40.7175rem;
        height: 41.65625rem;
    }
    .seven1{
        display: flex;
        width: 19.85813rem;
        height: 20.32813rem;
        align-self: flex-end;
    }
    .para2{
        display: flex;
        flex-direction: row;
        margin-top: 27rem;
    }
    .paraX{

        font-size: 0.93781rem;
    }
    .paraY{
        font-size: 0.93781rem;
    }
    .mainsite{
        justify-content: center;
    }
    .para1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.70288rem;
    }
    .container5{
        display: flex;
    }
    .sidenote{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.70288rem;
        font-family: "secondfont",sans-serif;
    }
    .assex2{
        display: none;
    }
    .assex3{
        display: none;
    }
    .assex1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.5625rem;
    }
    .salmontext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.57813rem;
        font-family: "firstfont",serif;
    }
    .salmontext1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.875rem;
        font-family: "secondfont",sans-serif;
        width: 29.18563rem;
    }
    .salmon1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:  27.18563rem;
        height:  27.18563rem;
    }
    .salmon2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:  27.18563rem;
        height:  27.18563rem;
    }
    .addition5{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .salmontextA{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "secondfont",sans-serif;
        font-size: 0.70288rem;
    }
    .addition5{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:  27.18563rem;
        height:  27.18563rem;
    }
    .salmontextB{
        display: flex;
        flex-direction: column;
    }
    .salmonpart1{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .salmon3{
        width: 27.18563rem;
        height: 27.18563rem;
    }
    .salmon4{
        width: 27.18563rem;
        height: 27.18563rem;
    }
    .salmon5{
        width: 27.18563rem;
        height: 27.18563rem;
    }
    .salmonpart2{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .group2{
        display: none;
    }
    .group1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 9.0625rem;
        font-weight: lighter;
    }
    .addition7{
        display: flex;
        flex-direction: column;
    }
    .container7{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .container0{
        display: flex;
        width:  100%;
    }
    .soups{
        width: 27.18563rem;
        height: 27.18563rem;
    }
    .soups1{
        width: 27.18563rem;
        height: 27.18563rem;
    }
    .menu{
        width: 27.18563rem;
        height: 27.18563rem;
        order: 0;
    }
    .menu1{
        width: 27.18563rem;
        height: 27.18563rem;

    }
    .sidenote3{
        display: flex;
        width: 29.18563rem;
        height: 29.18563rem;
    }
    .phases{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.93781rem;
        font-family: "secondfont",sans-serif;
        font-weight: 400;
        width: 27.18563rem;
        height: 27.18563rem;
    }
    .container7A{
        width: 27.18563rem;
        height: 27.18563rem;
        order: 1;
    }
    .container8{
        display: none;
    }
    .container8A{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .galleryX{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        font-size: 3.3875rem;
        font-family: "thirdfont",serif;
        font-weight: 300;
        margin-bottom: 0.8rem;
        align-self: flex-end;
    }
    .inside{
        display: flex;
        font-size: 0.70288rem;
    }
    .gallery1Y{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3.3875rem;
        font-family: "thirdfont",serif;
        font-weight: 300;
        margin-top: 0rem;
        margin-bottom: 0.8rem;
        align-self: flex-end;
    }
    .gallery2X{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3.3875rem;
        font-family: "thirdfont",serif;
        font-weight: 300;
        margin-top: 0rem;
        margin-bottom: 0.8rem;
        align-self: flex-end;
    }
    .gallery3A{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 3.3875rem;
        font-family: "thirdfont",serif;
        font-weight: 300;
        margin-top: 0rem;
        align-self: flex-end;
    }
    .imagegroup1{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .xtraimg{
        width:  26.79563rem;
        height:  26.79563rem;
    }
    .xtraimg1{
        width: 37.8125rem;
        height: 37.8125rem;
    }
    .xtraimg2{
        width: 15.78125rem;
        height: 15.78125rem;
        align-self: flex-end;
    }
    .imagegroup2{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .xtraimg3{
        width: 40.7175rem;
        height: 40.7175rem;
    }
    .xtraimg4{
        width: 19.85813rem;
        height: 19.905rem;
    }
    .xtraimg5{
        width: 19.85813rem;
        height: 19.905rem;
        align-self: flex-end;
    }
    .imagegroup3{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .xtraimg6{
        width: 16.15625rem;
        height: 16.15625rem;
    }
    .xtraimg9{
        display: flex;
        width: 16.10813rem;
        height: 16.15625rem;
        align-self: flex-end;
    }
    .xtraimg7{
        width:  30.07688rem;
        height: 33.3125rem;
        order: 3;
    }
    .xtraimg8{
        width: 16.15625rem;
        height: 16.15625rem;
    }
    .direction2{
        display: none;
    }
    .container8c{
        display: flex;
        flex-direction: column;
    }
    .helwett{
        display: flex;
       flex-direction: column;
       align-items: flex-start;
       width: 100%;
    }
    .acid1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0rem;
        font-size: 4.65688rem;
        width: 100%;
    }
    .acid2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0rem;
        font-size: 4.65688rem;
        width: 100%;
    }
    .acid3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        font-size: 4.65688rem;
        width: 100%;
    }
    .action{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 4.65688rem;
    }
    .foodimg1{
        display: flex;
        width: 3.65625rem;
        height: 3.65625rem;
        padding: 0.4rem 0.4rem 0.5rem 0.4rem;
    }
    .foodimg2{
        display: flex;
        width: 11.48313rem;
        height: 3.65625rem;
        padding: 0.1rem 0.1rem 0.2rem 0.1rem;
    }
    .foodimg3{
        display: flex;
        width: 7.64063rem;
        height: 3.65625rem;
        padding: 0.4rem 0.4rem 0.5rem 0.4rem;
    }
    .container9{
        display: flex;
        flex-direction: row;
    }
    .footerwrap{
        display: flex;
        width: 100vw;
        flex-direction: column;
        background-color: #151515;
    }
    .footer2{
        align-self: normal;
    }
    .final{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4.37rem;
        background-color: black;
    }
    .footer4{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer4B{
        width: fit-content;
        padding: 0.45rem 1.17rem 0.5rem 1.12rem;
    }
    .footer5{
        height: 5.4375rem;
        background-size: cover;
        padding: 2.56rem 0.37rem 0 0.44rem ;
    }
    .prawn{
        display: flex;
        width: 100%;
    }
}